.blog-form {
  width: 600px;
  width: 60%;
  margin: 0 auto;
}
.text-Area-Form {
  height: 100px !important;
}
.Valid-Text-Form {
  color: red;
}
.img-Blog {
  width: 50px;
}
.card-postagens-section {
  width: 60% !important;
  margin: 0 auto;
}
.btn-Icons-Blog {
  width: 80%;
}
.icn-c:hover {
  color: red;
  transform: scale(105%);
}

.icn-c {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  font-family: monospace;
  word-spacing: -2px;
}

.icn-c:hover .filled {
  opacity: 1;
  animation: beatingHeart 1.2s infinite;
}

@keyframes beatingHeart {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.15);
  }

  30% {
    transform: scale(1);
  }

  45% {
    transform: scale(1.15);
  }

  60% {
    transform: scale(1);
  }
}

.icn-c:hover {
  opacity: 1;
  animation: beatingHeart 1.2s infinite;
  cursor: pointer;
}

.icn-c:active {
  color: rgb(255, 0, 0);
}

.icn-a:hover {
  opacity: 1;
  animation: icn-a 1.2s infinite;
  color: rgb(7, 121, 96);
  cursor: pointer;
}

@keyframes icn-a {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.05);
  }

  30% {
    transform: scale(1);
  }

  45% {
    transform: scale(1);
  }

  60% {
    transform: scale(1);
  }
}
.intp-Form-Blog-dark {
  border: 1px solid black !important;
}
.btn-Post{
  --color: #0077ff;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.8em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 5px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 1px solid var(--color);
  border-radius: 6px;
  position: relative;
}

.btn-Post::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.btn-Post:hover {
  color: white;
}

.btn-Post:before {
  top: 100%;
  left: 100%;
  transition: .3s all;
}

.btn-Post:hover::before {
  top: -30px;
  left: -30px;
}