.header {
  background-color: #788FAC;
  border: 1px solid black;
  color: #C6C6C6;
}
.conteudo {
  background-color: #697B93;
  color: #C6C6C6;
}
.end {
  background-color: #788FAC;
  border: 1px solid black;
  color: #C6C6C6;
}

.textDecorationB {
    text-decoration: none;
}