.header {
  background-color: #a7a7a7;
  border: 1px solid black;
  color: #030300;
}
.conteudo {
  background-color: rgb(197, 197, 197);
  color: #030300;
}
.end {
  background-color: #a7a7a7;
  border: 1px solid black;
  color: #030300;
}

.textDecorationB {
    text-decoration: none;
}