*{
    box-sizing: border-box;
}

.modal-body{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
}

.modal-body div{
    width: 50%;
}

.modal-body img{
    height: 200px;
    box-shadow: 2px 2px 5px #0006;
    border-radius: 5px;
}